<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.specialsoft.premarkets">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminStockFocusChangeActivity"></activity>
        <activity android:name=".StocksInFocusActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".RemovePostActivity" />
        <activity android:name=".AdminAddQuoteActivity" />
        <activity android:name=".UserPannelActivity" />
        <activity android:name=".AdminAddNewPostActivity" />
        <activity android:name=".AdminPnnelActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>